.titulo{
  &--1 {
    font-size: 2em;
    font-weight: 600;
  }

  &--2 {
    font-size: 1.75em;
    font-weight: 600;
  }

  &--3 {
    font-size: 1.5em;
    font-weight: 600;
  }

  &--4 {
    font-size: 1.25em;
    font-weight: 600;
  }
}

a {
  cursor: pointer;
  transition: color 0.5s ease;
  color: var(--main);

  &:hover {
    color: var(--seablue);
  }
}

p, label, input {
  font-weight: 300;
}

strong, b {
  font-weight: 600;
  font-size: 1.2em;
}