/* RESET & BASE */
html {
  background-color: var(--background-color);
  font-family: var(--main-font);
  font-size: clamp(14px, 1.2vw, 18px);
}

*::selection {
  color: var(--main-color);
  background-color: #0000006e;
  text-shadow: none;
}

body {
  margin: 0px;
}

body.preload * {
  transition: none !important;
}

h1, h2, h3, h4, h5, h6, p, b, span, strong, textarea, form, input {
  font-size: 1em;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 14px 0;
}

a, br, button, input, img {
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
  transition: color 0.5s ease;
}

a:hover {
  color: var(--dark-main-color);
}

.normal-link {
  border: none;
  width: auto;
  text-align: left;
  font-size: 0.8em;
  background:none;
  cursor: pointer;
  word-wrap: none;
  color: var(--main-color);
}

input:-webkit-autofill {
  appearance: none;
  box-shadow: 0 0 0 1000px var(--off-white-color) inset !important;
}

/* UTILITIES */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column { flex-direction: column; }
.wrap { display: flex; flex-wrap: wrap; }
.text-center { text-align: center !important; }
.underline { text-decoration: underline; }

.margin-auto { margin: auto !important }
.margin-top-auto {margin-top:auto}
.margin-bottom-auto {margin-bottom:auto}
.margin-right-auto {margin-right:auto}
.margin-left-auto {margin-left:auto}

.margin-0 {margin: 0 !important}
.margin-top-0 {margin-top:0}
.margin-bottom-0 {margin-bottom:0}
.margin-right-0 {margin-right:0}
.margin-left-0 {margin-left:0}

.margin-8 { margin: 8px 0}
.margin-16 { margin: 16px 0}

.margin-25 { margin: 25px }
.margin-top-25 {margin-top:25px}
.margin-bottom-25 {margin-bottom:25px}
.margin-right-25 {margin-right:25px}
.margin-left-25 {margin-left:25px}

.p { padding: 5% 10%; }
.p-in { padding-inline: 10%; }

.g1,.g2,.g3,.g4 { display:grid; }
.g1 {grid-template-columns: auto;}
.g2 { grid-template-columns: repeat(2, auto); }
.g3 { grid-template-columns: repeat(3, auto); }
.g4 { grid-template-columns: repeat(4, auto); }

.w1 { width: 8.333%; box-sizing: border-box; } .w2 { width: 16.667%; box-sizing: border-box; } .w3 { width: 25%; box-sizing: border-box; }
.w4 { width: 33.333%; box-sizing: border-box; } .w5 { width: 41.667%; box-sizing: border-box; } .w6 { width: 50%; box-sizing: border-box; }
.w7 { width: 58.333%; box-sizing: border-box; } .w8 { width: 66.667%; box-sizing: border-box; } .w9 { width: 75%; box-sizing: border-box; }
.w10 { width: 83.333%; box-sizing: border-box; } .w11 { width: 91.667%; box-sizing: border-box; } .w12 { width: 100%; }

.w1-p { width: 8.333%;  padding: 3%;} .w2-p { width: 16.667%; padding: 3%; } .w3-p { width: 25%; padding: 3%; }
.w4-p { width: 33.333%; padding: 3%; } .w5-p { width: 41.667%; padding: 3%; } .w6-p { width: 50%; padding: 3%; }
.w7-p { width: 58.333%; padding: 3%; } .w8-p { width: 66.667%; padding: 3%; } .w9-p { width: 75%; padding: 3%; }
.w10-p { width: 83.333%; padding: 3%; } .w11-p { width: 91.667%; padding: 3%; } .w12-p { width: 100%; padding: 3%; }

.display-none{
  display: none !important;
}

/* TÍTULOS */
.titulo-1, .titulo-2 {
  display: block;
  font-weight: 900;
}

.titulo-1 { font-size: 2.5em }
.titulo-2 { font-size: 1.8em }
.titulo-3 { font-size: 1.25em }

/* TEXTOS */
.gray-observacao {
  color: var(--mid-gray-color);
}

/* NAV */
.nav {
  background-color: var(--nav-color);
  color: var(--main-color);
  width: calc((15% + 50px) / 2);
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px;
  z-index: 999;
  transition: width 0.5s ease;
}

.nav--preload {
  transition: none !important;
}

.nav--recolhido {
  width: 50px;
  padding: 30px 10px;
}

.nav--extendido {
  width: 15%;
  padding: 30px;
}

.nav__button {
  all: unset;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.nav__button--left {
  text-align: left;
}

.nav__userdata {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--mid-gray-color);
  transition: width 0.5s ease, height 0.5s ease;
  margin-bottom: 30px;
}

.nav--preload .foto {
  transition: none !important;
}

.foto img {
  border-radius:50%;
}

.nav--recolhido .foto {
  width: 40px;
  height: 40px;
}

.nav__icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav--recolhido .nav__icons {
  width: 30px;
  margin:0 auto;
}

.nav__link {
  color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  padding: 2.5px;
  transition: 
    color 0.5s ease,
    background-color 0.5s ease,
    box-shadow 0.5s ease;
}

.nav__link i {
  padding: 0;
  width: 30px;
  text-align: center;
}

.nav__link:hover {
  color: var(--main-color);
  background-color: color-mix(in srgb, var(--dark-gray-color) 80%, #000 20%);
  box-shadow: inset #0000001f 0px 0px 7px;
}

.nav__link--button {
  border: none;
  background: none;
  font-size: 1em;
  width: 100%;
  text-align: left;
}

.nav--recolhido .nav__texto {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.nav--preload .nav__texto {
  transition: none !important;
}

/* MAIN */
.main {
  min-height: 100vh;
  padding: 10vh 0;
  margin-left:auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  transition: 
    width 0.5s ease, 
    padding 0.5s ease, 
    margin 0.5s ease;
}

.main--recolhido {
  width: calc(100% - 60px);
  padding-inline: 10%;
  margin-left: 60px;
}

.main--extendido {
  padding-inline: 2.5%;
  width: calc(85% - 60px);
  margin-left:calc(15% + 60px);
}

.main--login {
  background-color: var(--dark-gray-color);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main--external-error{
  padding-inline: 5%;
  width: 90%;
  margin: 0
}

/* RESTANTE */
.page-header {
  gap: 15px;
  display:flex;
  align-items:center;
  justify-content:left
}

/* TOP SELECTION */
.top-selection {
  color: var(--dark-gray-color);
  margin: 16px 0 0 0;
  display: inline-block;
} 

.top-selection__link, .top-selection__link:visited {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 8px;
  border-bottom: 1.7px solid var(--dark-gray-color);
  cursor:pointer;
  color: var(--dark-gray-color);
} 

.top-selection__link:hover {
  color: var(--dark-main-color);
} 

.top-selection__link--selected {
  background-color: var(--white-color);
  border-radius: 5px;
  color: var(--black-color);
}

/* BOTÕES */
.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 15px 18px;
  border: none;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: 
    background 0.5s ease;
} 

.btn:hover {
  background-color: var(--dark-main-color) !important;
}

.white-btn {
  background-color: var(--white-color);
  font-size: 1.5em;
  color: var(--main-color);
  border-radius: 15px;
  height: 60px;
  width: 60px;
  border: none;
  align-content: center;
  text-align: center;
  box-shadow: var(--mid-gray-color) 0 0 20px;
}

.white-btn:hover {
  background-color: var(--white-color);
  cursor: pointer;
}

.white-btn i {
  font-size: 1em;
}

.small-btn, .switch {
  border:none;
  font-size: 1em;
  display: block;
  color: var(--white-color);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer !important;
  transition: border 0.7s ease;
  width:auto;
  transition: background 0.5s ease;
}

.small-btn:hover {
  color:var(--white-color);
}

.switch--ativado {
  background-color: var(--dark-main-color);
  border-left: solid 35px var(--gray-color);
} 

.switch--desativado {
  background-color: var(--dark-gray-color);
  border-right: solid 35px var(--gray-color);  
}

.small-btn--normal {
  background-color: var(--dark-main-color);
}

.small-btn--alerta {
  background-color: var(--contra-color);
}

.small-btn--vermelho {
  background-color: var(--contra-second-color);
}

.small-btn--gray, .small-btn--gray i {
  background-color: var(--dark-gray-color);
}

.small-btn:disabled{
  cursor: not-allowed;
}

/* CARDS */
.card-padrao {
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 10px;
  padding: clamp(25px, 3.5%, 45px);
  box-shadow: var(--box-shadow-color) 0 0 20px;
  margin: 25px 0;
  word-break: break-word;
  overflow-wrap: break-word;
  width: 100% !important;
  box-sizing: border-box;
}

.card-padrao--thinner {
  min-width: 700px;
  max-width: 800px;
  box-sizing: border-box;
}

.card__icons, .inline-icons {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.card-padrao .form-padrao {
  padding: 0;
}

.card-padrao .form-padrao--thinner {
  padding: 30px;
}

.status-card {
  max-width: 600px;
  min-width: 350px;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  color: var(--white-color);
}

.status-card--normal {
  background-color: var(--main-color);
}

.status-card--laranja {
  background-color: var(--contra-color);
}

.status-card--yellow {
  background-color: var(--yellow-color);
  color: var(--dark-gray-color);
}

.status-card--gray {
  background-color: var(--dark-gray-color);
}

/* FORM */
.form-padrao {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  padding: 15px;
}

.form-padrao__input, .input {
  border: none;
  background-color: var(--off-white-color);
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 0.8em;
  font-family: var(--main-font);
}

.calendar{
  display: flex;
  gap: 15px;
}

.input--date{
  color: var(--mid-gray-color);
  border:none;
  border-radius: 10px;
  padding: 10px;
} 

.form-padrao--thinner {
  padding: 5% 50px;
  width: 650px;
  box-sizing: border-box;
}

.form-padrao__input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.form-padrao__input[type="file"]::before {
  content: "Arquivo escolhido: ";
}

/* TABLE */
.table-container, .grafico {
  width: 100%;
  margin: 10px 0;
  background-color: var(--second-white-color);
  overflow-x: scroll;
  padding-bottom: 15px;
}

.table-container::-webkit-scrollbar, .grafico::-webkit-scrollbar {
  height: 12px; /* Altura da barra horizontal */
}

.table-container::-webkit-scrollbar-track, .grafico::-webkit-scrollbar-track {
  background-color: var(--off-white-color);
}

.table-container::-webkit-scrollbar-thumb, .grafico::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 4px;
}

.table-container__table {
  padding: 30px 0;
  border-collapse: collapse;
  min-width: 100%;
}

.table-container th, .table-container td {
  text-wrap: nowrap;
  text-align: left;
  padding: 10px;
  min-width: 150px;
}

/* GRÁFICO */
/* .grafico {
  max-width: 800px;
  margin: 16px auto;
  padding: 20px;
}

.grafico__box {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 250px;
}

.grafico__title {
  text-align: center;
  display: block;
  font-size: 1.1em;
}

.grafico__coluna {
  height: 100%;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 8px;
}

.grafico__barra {
  width: 60px;
  min-height: 2px;
  background-color: var(--main-color);
  border-radius: 4px 4px 0 0;
  margin-bottom: 8px;
  transition: height 0.3s ease;
  margin-inline: auto;
  text-align: center;
}

.grafico__label {
  text-wrap-mode: nowrap;
  margin: 0 10px;
}

.porcentagem-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  text-wrap-mode: nowrap;
  margin: 0 10px;
  padding-right: 20px;
}

.porcentagem {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
} */

/* NOVO GRÁFICO */
.grafico-card {
  display: flex;
  width: 100%;
  margin: 16px 0;
  padding: 32px;
  background-color: var(--white-color);
  box-shadow: var(--off-white-color) 0px 0px 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.grafico__container{
  width: 50%;
}

.label-valor {
  font-size: 2em;
  font-weight: bold;
}

.grafico__header {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.grafico__titulo{
  color: var(--black-color);
  font-size: 1.4em;
  text-align: center;
  margin: 16px 0;
  font-weight: bold;
  display: inline;
}

/* WARNING */
.warning {
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--white-color);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 999;
  display: none;
  max-width: 350px;
  font-family: sans-serif;
}

.warning--show {
  display: block;
}

.descricao {
  color: var(--mid-gray-color);
  font-weight: normal;
}

/* TOOLTIPS */
.tooltip {
  position: absolute;
  background-color: var(--white-color);
  max-width: 300px;
  color: var(--black-color);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: var(--dark-gray-color) 0px 0px 25px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1000;
  white-space: normal; /* permite quebra de linha */
  word-wrap: break-word; /* quebra palavras longas se necessário */
}

/* PÁGINA DE LOGIN */
.login-logo {
  width: 50%;
  height: auto;
}

.form--login {
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 3% 5%;
  max-height: 95vh;
  width: 45%;
  margin-right: 5%;
  box-sizing: border-box;
}
 
.input--login {
  background-color: var(--off-white-color);
  color: var(--dark-gray-color);
}

.pass-icon { 
  display: block;
  top: -150%;
  position: relative;
  left: calc(100% - 35px);
  width:min-content;
}

.show-password {
  position: relative;
  cursor: pointer;
  display:grid
}

/* ENVIAR EMAILS*/
.mail-box {
  gap: 10px 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.resultado {
  position:fixed;
  top:15%;
  right:30px;
} .resultado-btn-container {
  display: flex;
  flex-direction: column;
  gap:10px;
}

/* MOBILE */
@media (max-width: 947px){
  /* UTILITIES */
  .fix {
    width: 100%;
    padding-inline: 0%;
    box-sizing: border-box;
    flex-direction: column;
  } 
  
  .fix-p {
    margin-inline: 5%;
    width: 90% !important;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .fix > *, .fix-p > * {
    width: 100%;
  }

  .full-width {
    width: 100%;
    padding-inline: 0;
    box-sizing: border-box;
  }

  /* TÍTULOS */
  .titulo-1 {
    font-size: 2em;
  }

  /* TEXTOS */

  /* NAV */
  .nav {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10%;
    height: auto;
    top: 0;
  }

  .nav--extendido {
    max-height: 250px;
  }

  .nav--recolhido {
    max-height: 150px;
  }

  .nav__icons {
    flex-direction: row;
    overflow:scroll;
    padding: 10px 0;
    margin: 0 !important;
    width: 100% !important;
    align-items: center;
  }

  .nav__icons > *{
    text-wrap: nowrap;
  } 
  
  .nav__userdata {
    margin:0;
  } 
  
  .foto {
    margin-bottom: 15px;
  } 
  
  .nav--extendido .foto {
    width:60px;
    height:60px;
  } 
  
  .nav--recolhido .foto {
    display: none;
  }

  /* MAIN */
  .main {
    flex-direction: column;
  }

  .main--extendido {
    margin: 250px 0 0 0;    
    width: 100%;
    padding-inline: 0;
    box-sizing: border-box;
  }

  .main--recolhido {
    margin: 150px 0 0 0;    
    width: 100%;
    padding-inline: 0;
    box-sizing: border-box;
  }

  main > h1, main > h2, main > h3, main > h4, main > p, main > span, .top-selection {
    margin-inline:5% !important;
    width: 90% !important;
    box-sizing: border-box;
  }

  /* RESTANTE */
  .all {
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 0 !important;
  }

  .all--centered {
    margin: 0;
  }

  .page-header{
    margin: 0 5%;
  }

  /* TOP SELECTION */

  /* BOTÕES */

  /* CARDS */
  .card-padrao {
    padding: 30px 5% !important;
    border-radius: 0;
  }

  .card-padrao--thinner, .form-padrao--thinner {
    min-width: 0;
    max-width: none;
    width: auto;
  }

  .status-card {
    min-width: unset;
    max-width: unset;
  }
  
  /* FORM */

  /* TABLE */
  
  /* GRÁFICO */
  .grafico {
    width: 90%;
    padding-inline: 5%;
  }
  .grafico__box {
    min-width: 500px;
  }

  /* WARNING */

  /* TOOLTIPS */

  /* ENVIAR EMAILS*/
}