.main--external-error{
  padding-inline: 5%;
  width: 90%;
  margin: 0
}

.calendar{
  display: flex;
  gap: 15px;
}

.input--date{
  color: var(--mid-gray-color);
  border:none;
  border-radius: 10px;
  padding: 10px;
} 

/* NOVO GRÁFICO */
.grafico-card {
  display: flex;
  width: 100%;
  margin: 16px 0;
  padding: 32px;
  background-color: var(--white-color);
  box-shadow: var(--off-white-color) 0px 0px 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.grafico__container{
  width: 50%;
}

.label-valor {
  font-size: 2em;
  font-weight: bold;
}

.grafico__header {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.grafico__titulo{
  color: var(--black-color);
  font-size: 1.4em;
  text-align: center;
  margin: 16px 0;
  font-weight: bold;
  display: inline;
}

.descricao {
  color: var(--mid-gray-color);
  font-weight: normal;
}

/* PÁGINA DE LOGIN */
.login-logo {
  width: 50%;
  height: auto;
}

.form--login {
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 3% 5%;
  max-height: 95vh;
  width: 45%;
  margin-right: 5%;
  box-sizing: border-box;
}
 
.input--login {
  background-color: var(--off-white-color);
  color: var(--dark-gray-color);
}

.pass-icon { 
  display: block;
  top: -150%;
  position: relative;
  left: calc(100% - 35px);
  width:min-content;
}

.show-password {
  position: relative;
  cursor: pointer;
  display:grid
}

/* ENVIAR EMAILS*/
.mail-box {
  gap: 10px 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.resultado {
  position:fixed;
  top:15%;
  right:30px;
} .resultado-btn-container {
  display: flex;
  flex-direction: column;
  gap:10px;
}

/* MOBILE */
@media (max-width: 947px){
  /* UTILITIES */
  .fix {
    width: 100%;
    padding-inline: 0%;
    box-sizing: border-box;
    flex-direction: column;
  } 
  
  .fix-p {
    margin-inline: 5%;
    width: 90% !important;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .fix > *, .fix-p > * {
    width: 100%;
  }

  .full-width {
    width: 100%;
    padding-inline: 0;
    box-sizing: border-box;
  }

  /* TÍTULOS */
  .titulo-1 {
    font-size: 2em;
  }

  /* TEXTOS */

  /* NAV */
  .nav {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10%;
    height: auto;
    top: 0;
  }

  .nav--extendido {
    max-height: 250px;
  }

  .nav--recolhido {
    max-height: 150px;
  }

  .nav__icons {
    flex-direction: row;
    overflow:scroll;
    padding: 10px 0;
    margin: 0 !important;
    width: 100% !important;
    align-items: center;
  }

  .nav__icons > *{
    text-wrap: nowrap;
  } 
  
  .nav__userdata {
    margin:0;
  } 
  
  .foto {
    margin-bottom: 15px;
  } 
  
  .nav--extendido .foto {
    width:60px;
    height:60px;
  } 
  
  .nav--recolhido .foto {
    display: none;
  }

  /* MAIN */
  .main {
    flex-direction: column;
  }

  .main--extendido {
    margin: 250px 0 0 0;    
    width: 100%;
    padding-inline: 0;
    box-sizing: border-box;
  }

  .main--recolhido {
    margin: 150px 0 0 0;    
    width: 100%;
    padding-inline: 0;
    box-sizing: border-box;
  }

  main > h1, main > h2, main > h3, main > h4, main > p, main > span, .top-selection {
    margin-inline:5% !important;
    width: 90% !important;
    box-sizing: border-box;
  }

  /* RESTANTE */
  .all {
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 0 !important;
  }

  .all--centered {
    margin: 0;
  }

  .page-header{
    margin: 0 5%;
  }

  /* TOP SELECTION */

  /* BOTÕES */

  /* CARDS */
  .card-padrao {
    padding: 30px 5% !important;
    border-radius: 0;
  }

  .card-padrao--thinner, .form-padrao--thinner {
    min-width: 0;
    max-width: none;
    width: auto;
  }

  .status-card {
    min-width: unset;
    max-width: unset;
  }
  
  /* FORM */

  /* TABLE */
  
  /* GRÁFICO */
  .grafico {
    width: 90%;
    padding-inline: 5%;
  }
  .grafico__box {
    min-width: 500px;
  }
}