@use "util" as *;

// CONTAINERS

.container {
  @include box;
  @include wrap;
  width: 100%;
}

.container--center {
  @include centered_row;
}

.container--column {
  @include column;
}

.container--between {
  @include space-between;
}

.container--section {
  @include section;
}

// ROWS & COLUMNS

.row {
  display: flex;
  width: 100%;
}

.col {
  @include column;
}

.center {
  @include centered_row;
}

.col-center {
  @include centered_column;
}

// WIDTH

.w12 { @include w(12); }
.w10 { @include w(10); }
.w8  { @include w(8); }
.w7  { @include w(7); }
.w6  { @include w(6); }
.w5  { @include w(5); }

.m-in-16 { margin-inline: 16px; }
.m-in-32 { margin-inline: 32px; }