.nav {
  color: var(--main);
  background-color: var(--gray-brand);
  width: calc((15% + 50px) / 2);
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 32px;
  // 950 = overlay
  // 999 = warning
  z-index: 900;
  transition: width 0.5s ease;

  &--preload, &--preload * {
    transition: none !important;
  }

  &--recolhido {
    width: 50px;
    padding: 30px 10px;

    .foto {
      width: 40px;
      height: 40px;
    }

    .nav__icons {
      width: 30px;
      align-self: center;
    }

    .nav__texto {
      opacity: 0;
      position: absolute;
      overflow: hidden;
      pointer-events: none;
      transition: opacity 0.5s ease, max-height 0.5s ease;
    }
  }

  &--extendido {
    width: 15%;
    padding: 30px;
  }

  &__button {
    all: unset;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  &__userdata {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 2.5px;
    transition: 
      color 0.5s ease,
      background-color 0.5s ease,
      box-shadow 0.5s ease;

    i {
      padding: 0;
      width: 30px;
      text-align: center;
    }

    &:hover {
      color: var(--main);
      background-color: color-mix(in srgb, var(--gray-brand) 80%, #000 20%);
      box-shadow: inset #0000001f 0px 0px 7px;
    }
  } 
}

.foto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--gray-light);
  transition: width 0.5s ease, height 0.5s ease;

  img {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
    transform: translate(-1px, -1px);
    border-radius: 50%;
  }
}