@use "../base/util" as *;

.section{
  @include section;
}

.task-header {
  @include space_between;
  padding: 16px 25px;
  width: 100%;
  @include box;

  .titulo, p {
    margin: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__titulos {
      gap: 8px;
      display: flex;
      align-items: center;
    }
    
    &__description {
      color: var(--gray-dark);
      font-size: 0.9em;

    }
  }

  &__buttons {
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }
}